# RPC Compare Tool Configuration

# First RPC URL
URL1=http://127.0.0.1:8123

# Second RPC URL
URL2=https://testrpc.xlayer.tech

# Start height to compare
START_HEIGHT=12731431

# End height to compare
END_HEIGHT=12963142

