global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'op-reth-seq'
    static_configs:
      - targets: ['op-reth-seq:9001']
    metrics_path: /metrics
