[package]
name = "xlayer-challenger"
version.workspace = true
edition.workspace = true

[[bin]]
name = "challenger"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
serde.workspace = true
serde_json.workspace = true

xlayer-host = { path = "../../crates/host" }
xlayer-core = { path = "../../crates/core" }
