build_hash2/
build_compress/
*.ptau
build_wc_t2/
build_wc_t3/
build_wc_t4/
build_nm_t4_hash3/
build_nm_t4_perm/
build_opt_hash*/
build_p1_hash1/
build_p1_hash2/
build_p1_hash3/
build_p1_hash4/
build_p1_hash7/
build_p1_hash9/
build_t2_hash1/
build_t2ff_compress/
build_t3_hash2/
build_t4_hash3/
build_t8_hash7/
build_full/
build_p1_hash5/
build_p1_hash6/
build_p1_hash8/
build_debug/
build_crosscheck/
