L1_RPC_URL={your-l1-url}
L1_BEACON_URL={your-l1-beacon-url}

# Network Configuration
NETWORK_TYPE=testnet
GENESIS_URL=https://okg-pub-hk.oss-cn-hongkong.aliyuncs.com/cdn/chain/xlayer/snapshot/merged.genesis.json.tar.gz
SEQUENCER_HTTP_URL=https://testrpc.xlayer.tech
ROLLUP_CONFIG=rollup-testnet.json
GETH_CONFIG=op-geth-config-testnet.toml

# Bootnode Configuration
OP_NODE_BOOTNODE=enode://eaae9fe2fc758add65fe4cfd42918e898e16ab23294db88f0dcdbcab2773e75bbea6bfdaa42b3ed502dfbee1335c242c602078c4aa009264e4705caa20d3dca7@8.210.181.50:9223
OP_GETH_BOOTNODE=enode://eaae9fe2fc758add65fe4cfd42918e898e16ab23294db88f0dcdbcab2773e75bbea6bfdaa42b3ed502dfbee1335c242c602078c4aa009264e4705caa20d3dca7@8.210.181.50:9223
P2P_STATIC=/ip4/47.242.219.101/tcp/9223/p2p/16Uiu2HAkwUdbn9Q7UBKQYRsfjm9SQX5Yc2e96HUz2pyR3cw1FZLv,/ip4/47.242.235.15/tcp/9223/p2p/16Uiu2HAmThDG9xMpADbyGo1oCU8fndztwNg1PH6A7yp1BhCk5jfE

# L2_ENGINEKIND (RPC) type: geth (default) or reth
L2_ENGINEKIND=geth
RPC_TYPE=op-$L2_ENGINEKIND

# Docker Image Tags
OP_STACK_IMAGE_TAG=xlayer/op-node:0.0.9
OP_GETH_IMAGE_TAG=xlayer/op-geth:0.0.6
OP_RETH_IMAGE_TAG=xlayer/op-reth:release-testnet

# Legacy RPC Configuration (for historical data before cutoff block)
# Testnet: L2_RPC_URL=https://testrpc.xlayer.tech, L2_CUTOFF_BLOCK=12241701
# Mainnet: L2_RPC_URL=https://xlayerrpc.okx.com, L2_CUTOFF_BLOCK=42810021
L2_RPC_URL=https://testrpc.xlayer.tech
L2_CUTOFF_BLOCK=12241701
L2_RPC_TIMEOUT=30s